body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.header{
    width: 100%;
    background-color: #5f5d5d;
}

.navigacija{
    max-width: 575px;
}

.navigacija__link{
    display: block;
    text-align: center;
    color: #f2f2f2;
    text-decoration: none;
    padding: 2px;
}

.box-korisnici{
    max-width: 575px;
}

.box-logo{
    max-width: 575px;
    height: 600px;
}

.box-logo__slike{
    max-width: 575px;
    height: 125px;
    border: 2px solid #5f5d5d;
    text-align: center;
    border-radius: 15px;
}

.box-logo__slike img{
    width: 100%;
    height: 100px;
    border-radius: 15px;
}

.box-korisnici__naslov{
    text-align: center;
    color: #5f5d5d;
    font-size: 15px;
}

.pocetna-main__naslov{
    text-align: center;
    color: #5f5d5d;
    font-size: 20px;
}

.pocetna-main__naslov span{
    color: #1e1d1d;
}

.box-logo__slike figcaption{
    font-weight: bold;
    color: #5f5d5d;
}

.stranica-footer{
    display: block;
    width: 100%;
    background-color: #5f5d5d;
    height: 90px;
}

.stranica-footer__projekt{
    color: #f2f2f2;
    font-size: 10px;
    padding-left: 5px;
}

.stranica-footer__projekt span{
    font-style: italic;
    font-weight: bold;
}

.stranica-footer__linkovi a{
    color: #f2f2f2;
    font-size: 10px;
    padding-left: 5px;
    font-weight: bold;
}

.login-box__naslov{
    text-align: center;
    color: #5f5d5d;
}

input[type=text],input[type=password],.selected-dodavanje, input[type=number], input[type=time], input[type=date]{
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 12px 20px;
  margin: 8px 0; 
}

input[type=submit] {
    width: 100%;
    background-color: #5f5d5d;
    color: #f2f2f2;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
  
.login-box__link{
    max-width: 575px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #5f5d5d;
}

.table-section{
    max-width: 575px;
}

.table-section_margin{
    margin-top: 15px;
}

.table-section__zaglavlje{
    width: 100%;
    font-size: 8px;
    color: #5f5d5d;
}

.table-section__tjelo{
    text-align: center;
    font-size: 8px;
    width: 100%;
}

.dataTables_length{
    font-size: 10px; 
}

.dataTables_length label{
    color: #5f5d5d;
}

.dataTables_filter{
    font-size: 10px;  
}

.dataTables_filter label{
    color: #5f5d5d;
}

.dataTables_info{
    font-size: 10px; 
}

.paginate_button{
    font-size: 10px;    
}

.naslovna-text{
    text-align: center;
    color: #5f5d5d;
}

.naslovna-box{
    display: flex;
    
}

.naslovna-box__icon{
    width: 45%;
}

.indeks{
    display: block;
    max-width: 575px;
    height: 650px;
}



.indeks img{
    margin-left: 25%;
}

.indeks blockquote{
    text-align: center;
}

@media screen and (min-width: 767px){
    .navigacija{
        max-width: 1000px;
        height: 100px;
    }

    .box-korisnici{
        max-width: 1000px;
    }

    .navigacija__link{
        display: inline;
        font-size: 20px;
    }

    .box-logo{
        max-width: 1000px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
    }

    .box-logo__slike{
        max-width: 1000px;
        height: 200px;
    }

    .box-logo__slike img{
        height: 150px;
    }

    .stranica-footer{
        max-width: 1000px;
        height: 200px;
    }

    .stranica-footer__projekt{
        font-size: 20px;
    }

    .stranica-footer__linkovi a{
        font-size: 20px;
    }

    .login-box__link{
        max-width: 1000px;
    }

    .table-section{
        max-width: 1000px;
    }
    
    .dataTables_length{
        font-size: 20px; 
    }
    
    .dataTables_filter{
        font-size: 20px;  
    }
    
    .dataTables_info{
        font-size: 20px; 
    }

    .table-section__zaglavlje{
        font-size: 15px;
    }

    .table-section__tjelo{
        font-size: 15px;
    }

    .indeks{
        max-width: 1000px;
    }
    
    .indeks ol{
        position: absolute;
        top: 250px;
        left: 150px;
    }
    
    .indeks img{
        position: absolute;
        top: 165px;
        left: 250px;
    }
    
    .indeks blockquote{
        position: absolute;
        top: 450px;
        left: 100px;
    }
}

@media screen and (min-width: 1024px){
    .navigacija{
        max-width: 1600px;
        height: 100px;
    }

    .box-korisnici{
        max-width: 1600px;
    }

    .navigacija__link{
        display: inline;
        font-size: 20px;
    }

    .box-logo{
        max-width: 1600px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: center;
    }

    .box-logo__slike{
        max-width: 1600px;
        height: 200px;
    }

    .box-logo__slike img{
        height: 150px;
    }

    .stranica-footer{
        max-width: 1600px;
        height: 200px;
    }

    .stranica-footer__projekt{
        font-size: 20px;
    }

    .stranica-footer__linkovi a{
        font-size: 20px;
    }

    .login-box__link{
        max-width: 1600px;
    }

    .naslovna-box__icon{
        width: 25%;
    }

    .table-section{
        max-width: 1600px;
    }
    
    .dataTables_length{
        font-size: 25px; 
    }
    
    .dataTables_filter{
        font-size: 25px;  
    }
    
    .dataTables_info{
        font-size: 25px; 
    }

    .table-section__zaglavlje{
        font-size: 20px;
    }

    .table-section__tjelo{
        font-size: 20px;
    }

    .indeks{
        max-width: 1600px;
    }
    
    .indeks ol{
        left: 350px;
    }
    
    .indeks img{
        left: 400px;
    }
}